{% extends 'base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Release Date</th>
            <th>Type</th>
            <th>Actor Names</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie['movie_name'] }}</td>
                <td>{{ movie['release_date'] }}</td>
                <td>{{ movie['type'] }}</td>
                <td>{{ movie['main_actor'] }}</td>
                <td>{{ movie['movie_country'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <!--<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">-->
{% endblock %}