/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2 {
    color: #4d4d4d; /* Darker brown */
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-left: 350px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-left: 50px;
}

nav a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    border-bottom-color: #fff; /* Highlight color for active link */
    background-color: #555; /* Highlight background color for active link */
}

/* Additional styles for the current page */
nav a.current {
    border-bottom-color: #fff; /* Highlight color for active link on the current page */
    background-color: #555; /* Highlight background color for active link on the current page */
}

/* Adjust the hover effect for the active link */
nav a.active:hover,
nav a.current:hover {
    background-color: #555; /* Maintain hover effect for active link on the current page */
}

.hidden-form {
    display: none;
    position: fixed; /* Change to fixed positioning */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}

/* Style the form */
form {
    margin-top: 20px;
    text-align: center; 
}

form input {
    margin: 5px;
    padding: 10px;
}

/* Style the table */
table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Rounded corners */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4d4d4d; /* Darker brown for headers */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #d9ccb3; /* Lighter brown for even rows */
}

tr:nth-child(odd) {
    background-color: #e6d8c2; /* Even lighter brown for odd rows */
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #555;
    margin-top: auto;
}
